<p>
  Choose Higher or Lower
</p>
<div class="container">
  <div class="row">
      <md-card>
    <button md-raised-button color="primary"md-raised-button color="primary" type="button" name="buttonHigh" *ngIf="!IsTried" class="col-md-2" (click)="ShowResult(1)">Higher</button>
    <button md-raised-button color="primary" type="button" name="buttonLow" *ngIf="!IsTried"  class="col-md-2" (click)="ShowResult(2)">Lower</button>
      </md-card>
  </div>

<div class="" *ngIf="IsRunning">
  <div class="row">
    <md-card>

        <md-placeholder>
      <div class="thumbnail">
          <img [src]="deckCard.cards[0].image" alt=""  width="150px" height="200px" />

        <div class="caption">
          <img src="../images/user.png" alt="" title="Me" class="img-circle" width="50px" height="50px" />
          <p>...</p>
        </div>
      </div>
    </md-placeholder>
        <md-placeholder>
      <div class="thumbnail" *ngIf="Result<2">
          <img [src]="deckCard.cards[1].image" alt=""  width="150px" height="200px"/>

        <div class="caption">
          <h4>You</h4>
          <p>...</p>
        </div>
      </div>
    </md-placeholder>


    </md-card>
  </div>
  <div class="row" *ngIf="Result<2">
    {{Result == 1 ? 'You Win!' :'Better Luck Next Time'}}
  </div>
</div>

  <div class="row">

    <button type="button" name="button" class="col-md-2" *ngIf="IsTried" (click)="ResetAll()">TryAgain</button>
  </div>
</div>
